# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Streamlit Cache
.streamlit/

# VS Code Settings
.vscode/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# Reports & Outputs (Optional)
reports/*.csv
outputs/*.png